<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.zeasn.thefirstlinecode">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="n">

        <!--第九章-->
        <activity android:name=".ninth.CameraActivity">

        </activity>

        <activity android:name=".ninth.ServiceActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--第八章-->
        <activity android:name=".eighth.ContentProviderActivity">

        </activity>

        <!--第七章-->
        <activity android:name=".seventh.SpActivity" />

        <!--第十一章-->
        <activity android:name=".eleventh.URLActivity" />

        <!--第六章-->
        <activity android:name=".sixth.LoginActivity">

        </activity>
        <activity android:name=".sixth.BroadcastTestActivity" />

       <!-- 第十五章-->
        <activity android:name=".fifthchapter.NewsActivity" />
        <activity android:name=".fifthchapter.NewsContentActivity" />

        <!--第十四章-->
        <activity android:name=".fourthchapter.QQActivity" />
        <activity android:name=".fourthchapter.WidgetActivity" />

        <!--第十三章-->
        <activity
            android:name=".thirdchapter.DialogActivity"
            android:theme="@style/Theme.AppCompat.Dialog" />
        <activity
            android:name=".thirdchapter.LifeCycleActivity"
            android:launchMode="singleTask" />
        <activity android:name=".thirdchapter.TestActivity" />
        <activity
            android:name=".thirdchapter.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleInstance"
            android:theme="@style/AppTheme.NoActionBar" />

        <!--广播接收者-->
        <receiver
            android:name=".sixth.BootCompleteReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".sixth.MyBroadcastReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter android:priority="100">
                <action android:name=".MY_BROADCAST" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".sixth.MyOrderedBroadcast"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name=".MY_BROADCAST" />
            </intent-filter>
        </receiver>

        <!--内容提供者-->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.zeasn.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <!--服务-->
        <service android:name=".ninth.MyService"
            android:exported="true"
            android:enabled="true"/>

    </application>


</manifest>